---
import Layout from '@layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Home">
  <h1>Home</h1>
</Layout>

<style lang="scss">
  @use 'src/assets/styles/variables.scss' as *;
  h1 {
    display: flex;
    align-items: center;
    .icon {
      font-size: 2rem;
    }
  }
</style>
