@use 'variables' as *;
@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  scroll-behavior: smooth;
  font-size: 125%; // 1rem = 20px
}
body {
  background-color: $color-neutral-100;
  color: $color-neutral-900;
  font-weight: $fw-400;
  font-size: 1rem;
  font-family: $ff-roboto;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  margin-block: 1em;
  line-height: 1;
}

p {
  max-width: 66ch;
  line-height: 1.5;
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

menu {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  li {
    a {
      text-decoration: none;
    }
  }
}

.container {
  margin-inline: auto;
  width: min(100% - 2rem, 60rem);
}

.inverted {
  background: $color-primary-400;
  color: $color-neutral-100;
}
