// colors
$color-neutral-100: #fff;
$color-neutral-900: #1f3049;
$color-primary-400: #0066ff;

// font-families
$ff-roboto: 'Roboto', sans-serif;

// font-sizes
$fs-900: 3rem; // 60px
$fs-800: 2.4rem; // 48px
$fs-600: 1.2rem; // 24px
$fs-500: 1rem; // 20px
$fs-400: 0.9rem; // 18px

// font-weights
$fw-400: 400;
$fw-700: 700;

// size/spacing values (Including the border-width)
$size-8: 0.4rem;
$size-12: 0.6rem; // (not in design)
$size-16: 0.8rem;
$size-20: 1rem;
$size-32: 1.6rem;
$size-36: 1.8rem;
